@font-face {
    font-family: 'Now';
    src: url(../fonts/Now-Medium.eot);
    src: url(../fonts/Now-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Now-Medium.woff2) format('woff2'),
    url(../fonts/Now-Medium.woff) format('woff'),
    url(../fonts/Now-Medium.ttf) format('truetype'),
    url(../fonts/Now-Medium.svg#Now-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Now';
    src: url(../fonts/Now-Bold.eot);
    src: url(../fonts/Now-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Now-Bold.woff2) format('woff2'),
    url(../fonts/Now-Bold.woff) format('woff'),
    url(../fonts/Now-Bold.ttf) format('truetype'),
    url(../fonts/Now-Bold.svg#Now-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #e9e9e9;
    padding-bottom: 201px;
    padding-top: 28px;


}

.header-container {
    max-width: 1171px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav, .logo {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
}

header ul li a:hover {
    color: #10c9c3;
    -webkit-box-shadow: 0 0 10px 5px #3E7AF0;
    box-shadow: 0 0 10px 5px #3E7AF0;

}

.info {
    max-width: 474px;
    margin-left: auto;
    margin-top: 160px;
    margin-right: 30px;

}


.info h1 {
    margin-bottom: 32px;
    color: #1d1d1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.38px;
}

.info p {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 39px;
}

.info a {
    background-color: #10c9c3;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 84px;
    text-transform: uppercase;
    padding: 23px 46px;
    margin-bottom: 50px;
}

.info a:hover {
    border: solid 2px #e9e9e9;
    -webkit-box-shadow: 0 0 15px 15px #F06CAA;
    box-shadow: 0 0 15px 15px #F06CAA;
}


.aboutus {
    text-align: center;
    padding: 90px 0;

}

.aboutus-wrap {
    max-width: 1171px;
    margin: auto;

}

.aboutus h2 {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 35px;

}

.aboutus p {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.aboutus img {
    margin-top: 35px;
}

.skills {
    background-color: #f8f9f9;
    padding: 164px 0;
    position: relative;
    z-index: 5;
}

.skills:after {
    content: "";
    display: block;
    background-color: #e9e9e9;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}

.skills-wrap {
    max-width: 1171px;
    margin: auto;
}

.skills-info {
    max-width: 500px;
    margin-right: auto;

}

.skills-info h2 {
    font-family: 'Montserrat', sans-serif;
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    margin-right: auto;
    letter-spacing: 0.3px;

}

.skills-info p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;


}

.skills-info__ui, .skills-info__web, .skills-info__marketing {
    max-width: 100%;
    height: 3px;
    background-color: #d8d8d8;
}

.skills-info__ui:before {
    content: "";
    display: block;
    width: 75%;
    height: 100%;
    background-color: #10c9c3;
    margin-top: 20px;

}

.skills-info__web:before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background-color: #10c9c3;
    margin-top: 20px;

}

.skills-info__marketing:before {
    content: "";
    display: block;
    width: 65%;
    height: 100%;
    background-color: #10c9c3;
    margin-top: 20px;

}


.block {
    background-color: #10c9c3;
    padding: 70px 0;

}

.block-container {
    max-width: 1171px;
    margin: auto;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.block p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.block-1, .block-2, .block-3, .block-4 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    width: 25%;
    display: flex;
    flex-direction: column;


}


.block-1:before {
    content: "\e622";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    position: relative;
    top: 50px;
    right: 70px;

}


.block-2:before {
    content: "\e66b";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 50px;
    right: 70px;

}

.block-3:before {
    content: "\e611";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 50px;
    right: 70px;

}

.block-4:before {
    content: "\e642";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 50px;
    right: 70px;
}


.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.display__first {
    background-color: #838383;
    width: 25%;
    height: 300px;
    position: relative;


}

.display__sekond {
    background-color: #dddddd;
    width: 25%;
    height: 300px;
    position: relative;

}

.display__first:hover {
    background-color: black;
}

.display__sekond:hover {
    background-color: black;
}

.display__first a:after {
    content: "\e63e";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 48px;
    height: 30px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.display__sekond a:after {
    content: "\e63e";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 48px;
    height: 30px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.display__first:hover > a:after {
    visibility: visible;
}

.display__sekond:hover > a:after {
    visibility: visible;

}

.load {
    background-color: #f5f5f5;
    padding: 46px 0;
}

.load-wrap {
    max-width: 1171px;
    margin: auto;
}

.load a {
    display: block;
    color: #8e8e8e;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}

.load a:hover {
    color: black;

}

.load:hover {
    background-color: #1fd88c;
    color: black;
}

.process {
    padding: 100px 0;
}

.process-wrap {
    max-width: 1171px;
    margin: auto;
}

.process h3 {
    font-family: "Montserrat", sans-serif;
    color: #191919;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 41px;
    text-align: center;
}

.process p {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 57px;
    text-align: center;
}

.process-vidio {
    background-color: #e9e9e9;
    width: 100%;
    height: 571px;
    position: relative;

}

.process-vidio:after {
    display: block;
    content: "";
    width: 85px;
    height: 85px;
    background-color: #10c9c3;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.process-vidio:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #ffffff;
    border-bottom: 10px solid transparent;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.inform {
    background-color: #f5f5f5;
    padding-top: 100px;
}

.inform-wrap {
    max-width: 1171px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inform-wrap h4 {
    color: #191919;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 19px;
    margin-top: 29px;
}

.inform-wrap p {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.ui, .web, .app, .game, .seo, .photo, .graphic, .illustr {
    text-align: center;
    width: 265px;
    margin-bottom: 70px;


}

.ui:before {
    display: block;
    content: "\e6af";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;


}


.web:before {
    content: "\e6ab";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;


}


.app:before {
    content: "\e627";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}

.game:before {
    content: "\e6a4";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}


.seo:before {
    content: "\e625";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}

.photo:before {
    content: "\e611";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}

.graphic:before {
    content: "\e6b9";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;

}

.illustr:before {
    content: "\e6bd";
    font-family: "Pe-icon-7-stroke", sans-serif;
    width: 40px;
    height: 36px;
    color: #656565;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;


}


.review {
    background-color: #10c9c3;
    padding: 179px 0 60px;

}

.review-wrap {
    max-width: 1171px;
    margin: auto;
    text-align: center;

}

.review p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 29px;
}

.review h4 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    background-color: #b0e8e6;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;

}

.owl-dots .owl-dot {
    margin-top: 109px;
}

.owl-dots .owl-dot.active span {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.images {
    background-color: #ffffff;
    padding: 68px 0;

}

.images-wrap {
    max-width: 1171px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}


.images img:hover {
    -webkit-box-shadow: -5px 10px 12px 5px #FFA6F3;
    box-shadow: -5px 10px 12px 5px #FFA6F3;
}


.form-group {
    background-color: #f5f5f5;
    padding: 100px 0;

}

.form-group-wrap {
    max-width: 670px;
    margin: auto;


}

.form-group__info {
    text-align: center;
}

.form-group h3 {
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 35px;

}

.form-group p {
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    margin-bottom: 38px;

}

.form-group__name input {
    width: 49%;
    padding: 18px 0 19px 20px;
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    height: 48px;
    margin-bottom: 30px;
    border: none;
}


.form-group__name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.form-group__title input {
    padding: 18px 0 19px 20px;
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    width: 100%;
    height: 48px;
    margin-bottom: 30px;
    border: none;
}

form textarea {
    padding: 18px 0 19px 20px;
    color: #787878;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
    resize: none;
    border: none;
}

.form_button {
    display: block;
    background-color: #10c9c3;
    padding: 22px 35px;
    border: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: auto;

}

.form_button:hover {
    background-color: #1fd88c;
    -webkit-box-shadow: 0 0 15px 15px #AAA8F0;
    box-shadow: 0 0 15px 15px #AAA8F0;
}

footer {
    background-color: #141414;
    padding: 100px 0;
}

.footer-wrap {
    max-width: 1171px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-info h4 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;

}

.footer-info p {
    color: #bcbcbc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.footer-tell h4 {
    color: #bcbcbc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

}

.footer-tell p {
    color: #bcbcbc;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.07px;
}

.footer-info {
    margin-right: 250px;
}

.footer-tell {
    margin-right: 145px;

}

ul li {
    list-style: none;
}

.footer-about {
    margin-right: 55px;

}

.footer-news {
    margin-right: 135px;
}


footer a {
    text-decoration: none;
    color: #bcbcbc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

footer a:hover {
    color: #1fd88c;
    -webkit-box-shadow: 0 0 15px 15px #FFA6F3;
    box-shadow: 0 0 15px 15px #FFA6F3;
}

.form-wrap {
    max-width: 528px;
    margin: auto;
    text-align: center;
}

.password input, .facebook {
    width: 100%;
}

.dialog-email {
    max-width: 575px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

.dialog-email label {
    color: #363636;
    font-family: 'Now';
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.dialog-email input {
    width: 384px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    font-size: 30px;
    outline:none;

}

form .password  {
    width: 100%;
    padding: 21px 0;
    background-color: #b7b7b7;
    background-image: linear-gradient(to left, #b7b7b7 0%, #d7d7d7 100%);
    border-radius: 2px;
    font-family: 'Now';
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
    margin-top: 29px;
    border: none;
    outline:none;
    color: #000000;
}



form h4 {
    margin-bottom: 30px;
    color: #363636;
    font-family: 'Now';
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

form .facebook {
    display: inline-block;
    padding: 21px 0;
    color: #ffffff;
    font-family: Now;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #4865a3;
    background-image: linear-gradient(to left, #4865a3 0%, #567cce 100%);
    border: none;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

form .facebook:before {
    content: "\f39e";
    display: inline-block;
    font-family: 'Font Awesome 5 Brands';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 16px;

}

.ui-dialog {
    padding: 0;
    width: 100% !important;
    max-width: 750px !important;
    border: none !important;
}

.ui-dialog.ui-draggable .ui-dialog-titlebar {
    background-color: #000000;
    padding: 40px 0;
    color: #ffffff;
    font-family: 'Now';
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;

}

.ui-dialog .ui-dialog-title {
    float: none;
    text-align: center;
}

.ui-dialog .ui-dialog-content {
    padding: 43px 0 166px;
    border-radius: 10px;
    background-color: #fbfbfb;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    top: -10%;
    right: 0;

}
